{% extends "base2.html" %}

{% block content %}

	<div class="container my-5" style="text-align: center;">
		<div class="jumbotron" style="text-align: center;">
		  <img class="card-img-top pb-2" src="/static/logo.png" alt="Bookipedia" style="max-height: 208px; max-width: 280px;">

		  <p class="lead"> This is a class project for course Data Processing and Management (Monsoon 2022) @ IIITD</p>

		  <hr class="my-3">

		  <p class="lead" style="text-align: left;">Contributors:</p>
		  <div class="row">

		  	<div class="col-12 col-sm-6 d-flex justify-content-center">
				<div class="card m-3" style="width: 20rem;">
				  <img class="card-img-top" src="/static/rameez.jpg" alt="Image" style="width: auto; height: auto;">
				  <!-- 1RlDEBFnT-PZSDV4Wrjnxzsirg_EM99ic -->
				  <div class="card-body"> 	
				    <h5 class="card-title">Rameez Raja</h5>
				    <h6 class="card-subtitle mb-2 text-muted">MTech CSE 2023 @ IIITD</h6>
				    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				    <a href="https://www.linkedin.com/in/rameez03/" class="card-link">LinkedIn</a>
				    <a href="https://github.com/rameez03" class="card-link">Github</a>
				  </div>
				</div>
			</div>

			<div class="col-12 col-sm-6 d-flex justify-content-center">
				<div class="card m-3" style="width: 20rem;">
				  <img class="card-img-top" src="/static/devanshi.jpg" alt="Image" style="width: auto; height: auto;">
				  <!-- 1HmcK9y4HgQKaXxOmYcUPwEyXK-ZK1aM_ -->
				  <div class="card-body">
				    <h5 class="card-title">Devanshi Gupta</h5>
				    <h6 class="card-subtitle mb-2 text-muted">MTech CSE 2023 @ IIITD</h6>
				    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				    <a href="https://www.linkedin.com/in/devanshi-gupta-missdg1999" class="card-link">LinkedIn</a>
				    <a href="https://github.com/devanshi1999-19" class="card-link">Github</a>
				  </div>
				</div>
			</div>		

		  </div>

		  <hr class="my-3">

		  <p class="lead" style="text-align: left;">Mentor:</p>
		  <div class="col d-flex justify-content-center">

			<div class="card" style="width: 20rem;">
			  <img class="card-img-top" src="/static/pbiyani.jpg" alt="Image" style="width: auto; height: auto;">
			  <div class="card-body">
			    <h5 class="card-title">Dr. Pravesh Biyani</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Founder @ Chartr, Associate Professor at IIIT Delhi</h6>
			    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
			    <a href="https://www.linkedin.com/in/praveshbiyani/" class="card-link">LinkedIn</a>
			  </div>
			</div>
		  </div>

		  <hr class="my-3">

		  <p class="lead" style="text-align: left;">TAs:</p>
		  <ul class="list-group">
			  <li class="list-group-item">Gitansh Raj Satija: 
			  	<a href="https://www.linkedin.com/in/gitansh-raj-satija/" class="card-link">LinkedIn</a>
			  </li>
			  <li class="list-group-item">Mohd. Siraj Ansari:
			  	<a href="https://www.linkedin.com/in/siraj-ansari-a8a824196/" class="card-link">LinkedIn</a>
			  </li>
			  <li class="list-group-item">Raashid Altaf:
			  	<a href="mailto:raashida@iiitd.ac.in" class="card-link">raashida@iiitd.ac.in</a>
			  </li>
			</ul>
		</div>
	</div>

{% endblock %}