{% extends "base2.html" %}

{% block content %}

<div class="container my-5" style="text-align: center;">
	<div class="jumbotron">
	  <img class="card-img-top" src="/static/logo.png" alt="Bookipedia" style="max-height: 208px; max-width: 280px;">
	  <h1 class="display-4">Welcome to Bookipedia</h1>
	  <p class="lead">One place to know about Books ...</p>
	  <hr class="my-4">
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="/books" role="button">View Books</a>
	    <!-- <a class="btn btn-success btn-lg" href="/data/auth" role="button">View Authors</a> -->
	  </p>
	</div>
</div>

{% endblock %}