<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bookipedia</title>
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-5">
	<div class="row">
		{% for author in authors %}
		<div class="col-12 col-lg-3 col-md-4 col-sm-6">
			<div class="card" style="width: 15rem; height: 20rem;">
				<img src="/static/author/{{author.Author_id}}.jpg" class="card-img-top" style="height: 15rem;"alt="...">
				<!-- <div class="card-body">
				  <h3 class="card-title"></h3>
				  <p class="card-text"></p>
				</div> -->
				<div class="card-body">
				<h4><p><a href="/data/auth/{{author.Author_id}}">{{author.Author_id}} : {{author.Authorname}}</a></h4></p><h4>
				</div>
			  </div>
		</div>
		{% endfor %}
	  </div>
	</div>
</body>
</html>
<!-- {% for employee in employees %}
<h3><p><a href='/data/{{employee.employee_id}}'>{{employee}}</a></p></h3>
{% endfor %} -->