<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bookipedia</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

  <body style="text-align: center; margin-top: 5;">
    <form action='/create' method = "POST">
      <p>Book Title :  </Title> <input type = "text" name = "Bookname" /></p>
      <p>Author name : <input type = "text" name = "Authorname" /></p>
      <p>Subjects : <input type = "text" name = "Subjects" /></p>
      <p>ISBN : <input type = "text" name = "Isbnumber" /></p>
      <p>Publisher : <input type = "text" name = "Publisher" /></p>
      <p>Image Url : <input type = "url" name = "Link" /></p>
      <p>Ratings : <input type="number" name ="Ratings"/></p>
      <p><input type = "submit" value = "Submit" /></p>
    </form>

</body>
</html>