<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bookipedia</title>
	<link rel="icon" href="/static/logo_sm.png" type="image/icon type">
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

	<div class="container mt-5" style="text-align: center;">
	<img class="card-img-top" src="/static/logo.png" alt="Bookipedia" style="height: 222px; width: 300px;">
	<div class="row">

		{% for book in books.items %}
		<div class="col-12 col-lg-3 col-md-4 col-sm-6 my-2">
			<div class="card mx-auto" style="width: 14rem; height: 25rem;">
				<!-- /opac-tmpl/lib/famfamfam/silk/book.png -->
			  <img class="card-img-top" loading="lazy" style="height: 14rem;" src="{{book.image_url}}" alt="/static/book.png">
			  <div class="card-body">
			  	<h6 class="card-title"><a href='/data/{{book.title}}'>{{book.title}}</a></h5>
			    <p style="font-size: small; font-weight: bold">{{book.authors}}</p>
			    <!-- <p style="font-size: small;">Subjects: {{book.subjects}}</p> -->
			  </div>
			</div>
		</div>
		{% endfor %}

	  </div>
	  	<!-- Pagination Links-->
		<div class="text-right">
		    <a href="{{ url_for('books', page=books.prev_num) }}"
		       class="btn btn-outline-dark 
		       {% if books.page == 1 %}disabled{% endif %}">
		        &laquo;
		    </a>
		<!-- Loop through the number of pages to display a link for each-->
		    {% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
		<!-- Check for the active page and set the link to "Active"-->
		            {% if books.page == page_num %}
		            <a href="{{ url_for('books', page=page_num) }}"
		               class="btn btn-dark">
		                {{ page_num }}
		            </a>
		            {% else %}
		            <a href="{{ url_for('books', page=page_num) }}"
		               class="btn btn-outline-dark">
		                {{ page_num }}
		            </a>
		            {% endif %}
		        {% else %}
		            ...
		        {% endif %}
		    {% endfor %}
		    <a href="{{ url_for('books', page=books.next_num) }}"
		       class="btn btn-outline-dark 
		       {% if books.page == books.pages %}disabled{% endif %}">
		        &raquo;
		    </a>
		</div>
		<p class="text-right mt-3">
		   Showing page {{ books.page }} of {{ books.pages }}
		</p>
	</div>

</body>
</html>
